#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    /* width: 100%;
    height: 100%; */
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.2rem;
}

.text-primary {
    color: #007bff;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    background-color: lightskyblue;
    padding: 10px;
}

fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
}

.main_heading {
    text-align: center;
}

input[type="submit"] {
    background-color: #4da;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 18px;
    padding: 5px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: rgb(6, 216, 97);
    font: darkgrey;


}

.image-rotation {
    width: 10%;
    align-items: center;
    justify-content: center;
    background: none;
    animation: spin 1s infinite linear;
}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}